body{
	
}

#container{
	width:960px;
	margin: 0 auto;
	font-family: "Myriad Pro";
}

#topLeft{
	width: 640px;
	height: 29px;
	background-color: #064768;
	float: left;
}

#topRight{
	width: 320px;
	height: 45px;
	background-color: #064768;
	float: left;
}

#logo{
	width: 170px;
	height: 80px;
	float:left;
}

#kur{
	width: 460px;
	height: 40px;
	float:left;
	padding-top: 20px;
	padding-left: 2px;
	border-width: 1px;
	border-bottom-width: 2px;
	border-bottom-color: #e08218;
	border-bottom-style: solid;
}

.iconPic{
	width: 11px;
	height: 19px;
}

.iconPicBig{
	width: 20px;
	height: 30px;
}

.yazi{
	font-family: Myriad Pro;
	font-size: 16px;
	color: #9c9c9c;
}

.searchClass{
	font-family: Myriad Pro;
	font-size: 16px;
	color: red;
}

#search{
	width: 320px;
	height: 40px;
	float:left;
	margin-left: 6px;
	padding-top: 20px;
	padding-left: 2px;
	border-width: 1px;
	border-bottom-width: 2px;
	border-bottom-color: #e08218;
	border-bottom-style: solid;
}

#kategori{
	border: none;
	font-family: Myriad Pro;
	font-size: 10px;
	color: red;
}

#searchWord{
	font-size: 12px;
	color: #9c9c9c;
	font-style: italic;
}

#searchBtn{
	background-color: #e08218;
	border: none;
	width: 16px;
	padding-top: 2px;
}

#datePic{
	width: 15px;
	height: 15px;
}

#dateLabel{
	font-family: Myriad Pro;
	font-size: 12px;
	color: #9c9c9c;
}

#menu{
	margin-top: 5px;
	width: 960px;
	height: 40px;
	background-color: #da7d08;
	float: left;
}

#menuUlChoice{
	margin-top: 10px;
	padding: 0;
}

.menuItem{
	list-style-type: none;
	float: left;
	color: white;
	padding-left: 25px;
}

#leftNews{
	margin-top: 10px;
	width: 640px;
	height: 400px;
	float: left;
}

#rightNews{
	margin-top: 10px;
	width: 310px;
	height: 400px;
	float: left;
	margin-left: 10px;
}

#newsPic{
	width: 640px;
	height: 360px;
}

#menuNews{
	width: 640px;
	height: 30px;
	background-color: #da7d08;
	float: left;
	margin-top: 5px;
}

#menuNewsUlChoice{
	margin-top: 5px;
	padding: 0;
}

.menuNewsItem{
	font-size: 20px;
	list-style-type: none;
	float: left;
	color: white;
	padding-left: 30px;
}

.newsSmall{
	width: 310px;
	height: 100px;
}

.newsSmallPic{
	width: 120px;
	height: 90px;
	float: left;
	padding-right: 5px;
}

.newsSmallHeader{
	width: 180px;
	height: 10px;
	color: #e08218;
	float: left;
	font-size: 12px;
	padding-bottom: 4px;
}

.newsSmallText{
	width: 180px;
	height: 70px;
	font-size: 8px;
	float: left;
}